.logo {
  position: relative;
  top: 2px;
}

.btn-tweet {
  background-color: #1a8cd8;
  color: white;
  border-radius: 30px;
}

.card-assuntos {
  background-color: grey;
}

.tw-links {
  color: #13181a;
}

.tw-links:hover {
  color: #1a8cd8;
}

.fa-solid .fa-house {
  color: #1a8cd8;
}

.tw-list-group-item {
  border: none;
}

.btn-edit {
  border-radius: 20px;
  position: relative;
  left: 308px;
  top: 70px;
}

.nome {
  position: relative;
  top: 150px;
}

.perfil {
  position: relative;
  left: 13px;
  top: -20px;
}

.arroba {
  position: relative;
  top: 148px;
  color: #777777;
}

.col-3 {
  border: #13181a;
}

#about {
  position: relative;
  top: 50px;
  left: 30px;
  font-size: 14px;
}

.ab2 {
  color: grey;
  position: relative;
  top: 42px;
  left: 46px;
}

.ab1 {
  color: grey;
  position: relative;
  top: 42px;
  left: 35px;
}

.flw {
  color: black;
  position: relative;
  top: 30px;
  left: 15px;
}

.flw2 {
  position: relative;
  top: 30px;
  left: 20px;
}

.fa-location-dot {
  position: relative;
  top: 45px;
  left: 30px;
  color: grey;
}

.fa-calendar {
  position: relative;
  top: 45px;
  left: 40px;
  color: grey;
}

.text2 {
  color: grey;
}

.nav-tweets {
  position: relative;
  top: 20px;
  right: 6px;
  margin-right: 39px;
  color: grey;
  font-weight: bold;
}

.details {
  color: grey;
}

.user {
  position: relative;
  top: 30px;
  left: 6px;
}

.publicacoes {
  position: relative;
  top: 20px;
  left: 6px;
}

.fa-comment,
.fa-retweet,
.fa-heart,
.fa-arrow-up-from-bracket {
  left: 100px;
  position: relative;
  top: 30px;
  margin-right: 40px;
  color: grey;
}

.fa-heart:hover {
  background-color: rgb(245, 232, 234);
  color: rgb(245, 6, 45);
  border-radius: 15px;
  padding: 2px;
}

.fa-retweet:hover {
  background-color: rgba(0, 186, 124, 0.1);
  color: rgba(0, 186, 124, 1);
  border-radius: 15px;
  padding: 2px;
}

.fa-comment:hover {
  background-color: #eaf4fa;
  color: blue;
  border-radius: 15px;
  padding: 4px;
}
.comment,
.like,
.rt {
  position: relative;
  top: 30px;
  left: 70px;
  color: grey;
}

.borda {
  position: relative;
  right: 10px;
  top: 25px;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.borda2 {
  position: relative;
  bottom: 400px;
  left: 20px;
  height: 621px;
  border-right: 1px solid rgb(216, 216, 216);
  z-index: -1;
}

.borda3 {
  position: relative;
  bottom: 400px;
  right: 20px;
  height: 960px;
  border-left: 1px solid rgb(216, 216, 216);
}

.form-control,
.tw-input-gray {
  text-align: center;
  border-radius: 20px;
  background-color: #eef3f4;
}

.form-control,
.mr-sm-2 {
  position: relative;
  left: -15px;
  border-width: 0px;
  top: 20px;
  color: #eef3f4;
  z-index: 1;
}
.fa-search {
  position: relative;
  top: 10px;
  color: grey;
}
.talvez {
  background-color: #eef3f4;
  border-radius: 10px;
  position: relative;
  bottom: 920px;
  height: 250px;
  width: 195px;
}

.vermais {
  position: relative;
  bottom: -5px;
  right: 90px;
}

.titulo2 {
  position: relative;
  top: 10px;
  left: 20px;
}

.anitta {
  position: relative;
  top: 20px;
  left: 10px;
  border-radius: 400px;
  width: 40px;
}

.user2 {
  position: relative;
  left: 60px;
  bottom: 20px;
}
.arroba2 {
  position: relative;
  bottom: 45px;
  font-size: 12px;
  left: 59px;
  color: grey;
}

.btn-sm {
  position: relative;
  left: 80px;
  bottom: 54px;
}

.abner {
  position: relative;
  top: 20px;
  right: 95px;
  border-radius: 400px;
  width: 40px;
}
